body {
    display: flex;
    align-items: center;
}
.content {
    width: 700px;
    height: 700px;
      display: inline-grid;

      
    border: 2px black solid;
    margin: 40px;
    padding: 1px;
   
    
}
.content div {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0.5px;
    }
.btn {
    width: 150px;
    height: 30px;
    color: rgb(252,0,250);
}

